
mat-nav-list {
    margin-top: 20px;
}

.mat-list-item {
    background: #193791;
    color: #FFFFFF;
}

.home-link {
    background: #193791;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
