<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" color="#fff" size="large" type="ball-elastic-dots"></ngx-spinner>

<div class="container container-fluid">
  <h3 style="text-align: center" > Products List</h3>
  <div *ngIf="incidentsDataAvailable()">
    <table class="table table-bordered">
      <tr style="text-align: center" >
        <th> Incident Id</th>
        <th>Incident Status</th>
        <th>Incident Type</th>
        <th>Urgency </th>
        <th>Indicator Count</th>
        <th>Created Date</th>
        <th>Updated Date</th>
      </tr>

      <tr *ngFor="let incident of (incidents)" style="text-align: center">
        <td><a [routerLink]="['/incident', incident.incident_id]">{{incident.incident_id}}</a></td>
        <td>{{incident.ticket_status}}</td>
        <td>{{incident.incident_type.display_value}}</td>
        <td>{{incident.urgency_rank}}</td>
        <td>{{incident.sys_created_on}}</td>
        <td>{{incident.sys_updated_on}}</td>
      </tr>
    </table>

    <div style="text-align: center">
      <a [routerLink]="['/incident']" style="margin-right: 30px">Back</a>
    </div>
  </div>

</div>
