<mat-toolbar class="custom-header">
  <mat-toolbar-row *ngIf="!isLoggedIn()" class="col-12 header">
    <div class="h4">
      <a class="custom-flex-justify-center home-link" routerLink="/">
        <ng-container matTooltip="Angular Web App ServiceNow">Angular Web App ServiceNow
        </ng-container>
      </a>
    </div>

    <!-- Moves Help block to right -->
    <span class="login-block-spacer"></span>

    <!-- Help -->
    <div *ngIf="isLoggedIn() === false">
      <button (click)="router.navigateByUrl('/help')" mat-button>
        <mat-icon>help</mat-icon>
        Help
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row
          *ngIf="isLoggedIn()"
          style="display: flex; flex-direction: row; border-bottom: 1px solid lightgray">

    <!-- Moves Login/Logout block to right -->
    <span class="login-block-spacer"></span>

    <!-- Login/Logout-->
    <div *ngIf="isLoggedIn()" id="profile-menu-logout">
      <button (click)="logout()" mat-button>
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

