<div>
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input [ngClass]="{ 'is-invalid': submitted && formControls.username.errors }" class="form-control"
             formControlName="username" id="username"
             type="text"/>
      <div *ngIf="submitted && this.registerForm.username.errors" class="invalid-feedback">
        <div *ngIf="formControls.username.errors.required">Username is required</div>
        <div *ngIf="formControls.username.errors.minLength">Username minimum length should be 6 characters</div>
        <div *ngIf="formControls.username.errors.maxlength">Username maximum length should be 16 characters</div>
        <div *ngIf="formControls.username.errors.usernameInvalidCharacters">Invalid Username. No Special characters are allowed on Username</div>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }" class="form-control"
             formControlName="email" id="email"
             type="text"/>
      <div *ngIf="submitted && formControls.username.errors" class="invalid-feedback">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" class="form-control" formControlName="password" id="password" type="password"/>
      <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
        <div *ngIf="formControls.password.errors.minLength">Password minimum length should be 6 characters</div>
        <div *ngIf="formControls.password.errors.maxlength">Username maximum length should be 16 characters</div>
        <div *ngIf="formControls.password.errors.nullValidator">Password should not be null</div>
        <div *ngIf="formControls.password.errors.passwordInvalidCharacters"  class="cross-validation-error-message alert alert-danger">Invalid special characters on Username. Valid characters are @, #, &, %, !,$ </div>
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input [ngClass]="{ 'is-invalid': submitted && formControls.confirmPassword.errors }" class="form-control" formControlName="confirmPassword" id="confirmPassword" type="password"/>
      <div *ngIf="submitted && formControls.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="formControls.confirmPassword.errors.required">Confirmation Password is required</div>
        <div *ngIf="formControls.confirmPassword.errors.minLength">Confirmation Password minimum length should be 6 characters</div>
        <div *ngIf="formControls.confirmPassword.errors.maxlength">Confirmation Username maximum length should be 16 characters</div>
        <div *ngIf="formControls.confirmPassword.errors.nullValidator">Confirmation Password should not be null</div>
        <div *ngIf="formControls.confirmPassword.errors.passwordConfirmInvalidCharacters">Invalid special characters on Username. Valid characters are @, #, &, %, !,$ </div>
        <div *ngIf="!formControls.confirmPassword.errors.passwordsMatched && formControls.confirmPassword.touched || formControls.confirmPassword.dirty ">Confirmation password should match original Password </div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Submit</button>
      <!--[disabled]="!registerForm.valid"-->
    </div>
  </form>

</div>
