<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made by <a href="https://twitter.com/pavankjadda">Pavan</a>
  </div>
    <a class="nav-item nav-link" href="https://github.com/pavankjadda" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <a class="nav-item nav-link" href="https://twitter.com/pavankjadda" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="nav-item nav-link" href="https://medium.com/@jpavanaryan" target="_blank">
      <i class="fa fa-medium"></i>
    </a>

</nav>
