name: Build Project

on: [push]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [12.x, 14.x]


    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install Angular CLI
      run: |
        npm install -g @angular/cli @angular/core
    - name: Install dependencies
      run: npm install
    - name: Build the app
      run: ng build --prod
